/*Elementos de neutralidad*/
header, article, footer, section, nav, aside{
	display:block;
	margin:0;
	padding:0;
}
html{
	margin:0;
	padding:0;
	background: #1e5799;
}
body{
	width:960px;
	background:#ff6;
	margin:0 auto;
	font-family:Verdana, Geneva, sans-serif;
}
p, h1, h2, h3{
	margin:0;
	padding:0;
}
/*Etiquetas estructurales*/
header{
	height:90px;
	background:#76a68b;
}
article{
	position: relative;
	height:460px;
	background:#bcd5b0;

	display: box;

}
footer{
	height:60px;
	background:#898c70;
}
nav{
	font_size:.7em;
	color:#f2e3b6;
	text-align:center;
	paddin-top:1em;
}
/*Estilos de fuente*/
h1{
	font-size:2.2em;
	color:#FFF;
 	text-align: center;
}
h2{
	font-size:1.8em;
	color:#f2e3b6;
 	text-align: center;
	padding-top:.2em;
}
h3{
	font-size:.8em;
	color:#f2e3b6;
 	text-align: center;
}

p{
	font-size:1em;
	padding-top:1em;
	padding-left:1em;
	padding-right:1em;
	line-height:1.2em;
}
ul, li{
	display:inline;
}
a{
	text-decoration:none;
	font-size:0.8em;
	color:#f2e3b6;
	text-align:center;
}
/*Clases*/
.izq{
	float:left;
	margin-right:1em;
}
.der{
	float:right;
	margin-left:1em;
}
.caja
{
	width:50%;
	float:left;
	border: 1px solid green;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}